{% extends "admin/change_form.html" %}
{% comment %} {% block form_top %}
    {{ lame_static_text }}
    <a href="http://example.com/abc/{{ object_id }}"/>{{ro_status}}</a>
{% endblock %} {% endcomment %}
{% block submit_buttons_bottom %} 
{% endif %}
<div>
    <a  type="button" target="_blank" 
        class="btn btn-success btn-sm" 
        href="/order/excel/{{object_id}}">
        Download Request Order
    </a>
<div>
{% endblock %}
{% if perms.request_orders.change_requestorder %}
<div class="pt-2">
    <div class="form-group">
        {% if ro_status == 0 %}
        <input type="submit" class="btn btn-info btn-sm form-control" value="Approve Request Order" name="_approve_request_order" />
        {% endif %}
    </div>
    {% comment %} <div class="form-group">
        {% if ro_status == 0 %}
        <input type="submit" class="btn btn-info btn-sm form-control" value="Approve Request Order" name="_approve_request_order" />
        {% endif %}
    </div> {% endcomment %}
<div>
{% comment %} {{block.super }} {% endcomment %}