{% extends "admin/change_form.html" %}
{% comment %} {% block form_top %}
    {{ lame_static_text }}
    <a href="http://example.com/abc/{{ object_id }}"/>{{perms.forecasts}}</a>
{% endblock %} {% endcomment %}
{% block submit_buttons_bottom %} 
{% comment %} {{block.super }} {% endcomment %}
{% comment %} {% if send_to_po %}
<div class="form-group pt-2">
    <input type="submit" class="btn btn-danger btn-sm form-control" value="Create PO" name="_move_to_po" />
</div>
{% endif %} {% endcomment %}
{% if perms.forecasts.approve_reject and forecast_status == 0 %}
<div class="pb-2">
    <a type="button"
    class="btn btn-primary btn-sm form-control" 
    href="/forecast/approve/{{object_id}}">
    <i class="fas fa-clipboard-check"></i> Approve Forecast
    </a>
</div>
{% endif %}
<a  type="button" target="_blank" 
    class="btn btn-success btn-sm form-control" 
    href="/forecast/download/{{object_id}}">
    <i class="fas fa-download"></i>
    Download Forecast
</a>
<div class="pt-2">
    <a  type="button" target="_blank" 
        class="btn btn-info btn-sm form-control" 
        href="/forecast/test/{{object_id}}">
        <i class="fas fa-print"></i>
        Report Forecast
    </a>
<div>
{% endblock %}