{% extends "admin/change_form.html" %}
{% comment %} {% block form_top %}
    {{ lame_static_text }}
    <span>{{pds_status}}</span>
{% endblock %} {% endcomment %}
{% block submit_buttons_bottom %} 
{% if perms.forecasts.create_purchase_order and pds_status == 0 %}
<div class="pb-2">
    <a type="button" class="btn btn-primary btn-sm form-control"  href="/forecast/create_po/{{object_id}}">
        <i class="fas fa-clipboard-check"></i> Create Purchase Order
    </a>
</div>
{% endif %}
<a  type="button" target="_blank" 
    class="btn btn-success btn-sm form-control" 
    href="/forecast/export_pds/{{object_id}}">
    <i class="fas fa-download"></i>
    Download Forecast
</a>
<div class="pt-2">
    <a  type="button" target="_blank" 
        class="btn btn-info btn-sm form-control" 
        href="/forecast/test/{{object_id}}">
        <i class="fas fa-print"></i>
        Report Forecast
    </a>
<div>
{% endblock %}