{% extends "admin/change_form.html" %}
{% comment %} {% block form_top %}
    {{ lame_static_text }}
    <span>{{pds_status}}</span>
{% endblock %} {% endcomment %}
{% block submit_buttons_bottom %} 
{% if perms.forecasts.create_purchase_order and pds_status == 0 %}
<div class="pb-2">
    <a type="button" class="btn btn-primary btn-sm form-control"  href="/forecast/create_po/{{object_id}}">
        <i class="fas fa-clipboard-check"></i> Create Purchase Order
    </a>
</div>
{% endif %}
{% endblock %}